body {
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: auto;
}
p {
  text-align: justify;
  font-size: 13px;
  margin-bottom: auto;
}
p span {
  font-weight: bold;
  font-size: 13px;
}
.firmas {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.firmas span:nth-child(2) {
  margin-left: 250px;
}

.filas {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*TABLA CONTRATO*/
#tablaDatosContrato {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
}
#tablaDatosContrato tr td:nth-child(2) {
  text-align: center;
  font-weight: bold;
}


/*TABLA DESCRIPCION ODI*/
.tablaDescripcionOdi table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 12px;
}

.tablaDescripcionOdi table tr td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
.tablaDescripcionOdi table tr th {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}


.tablaFooterOdi {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
.tablaFooterOdi thead tr th {
  height: 50px;
}
.tablaFooterOdi tbody {
  text-align: center;}



  /*TABLAS REGISTRO INDIVIDUAL DE INDUCCION*/
  #tablaEncabezadoInduccion {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  #tablaEncabezadoInduccion tbody tr td {
    border: 1px solid #000;
    padding: 5px;
  }
  #tablaEncabezadoInduccion tbody tr td:nth-child(2),
  #tablaEncabezadoInduccion tbody tr:nth-child(2) {
    font-weight: bold;
  }

  #tablaDatosTrabajadorInduccion {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
  }

  #tablaDatosTrabajadorInduccion tbody tr td:nth-child(2) {
    text-align: center;
    font-weight: bold;
  }

  #tablaFooterInduccion {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
  }
  #tablaFooterInduccion thead tr th {
    height: 50px;
  }
  #tablaFooterInduccion tbody {
    text-align: center;
  }


  /*CARTA AVISO DE TERMINO CONTRATO*/
  #fechaEncabezado p{
    text-align: right;
  }

  #encabezadoCarta table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  #encabezadoCarta table tr td:nth-child(2) {
    font-weight: bold;
  }

  /*CARTA DECLARACION COVID*/

  #tablaEncabezadoDeclaracionCovid {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  #tablaEncabezadoDeclaracionCovid tbody tr td {
    border: 1px solid #000;
    padding: 5px;
  }
  #tablaEncabezadoDeclaracionCovid tbody tr td:nth-child(2),
  #tablaEncabezadoDeclaracionCovid tbody tr:nth-child(2) {
    font-weight: bold;
  }

  /*REGISTRO ENTREGA DE ELEMENTOS*/
  #tablaPrincipalEncabezado {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    text-align: center;
  }



  #tablaDatosTrabajador {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
  }

  #tablaDatosTrabajador tbody tr td:nth-child(2) {
    text-align: center;
    font-weight: bold;
  }

  .seccion {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #000;
  }

  .seccion p {
    padding: 10px;
  }

  #tablaArticulosEntregados {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
  }

  #tablaArticulosEntregados thead {
    background-color: rgb(162, 160, 160);
  }

  #tablaArticulosEntregados tbody tr td:nth-child(2) {
    text-align: center;
  }